.container-color {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-color {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(246, 248, 252, 0.8);
  border-radius: 20px;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
}

.elements {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.color {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fotter-infocolor {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
h3 {
  text-align: center;
}

@media (max-width: 600px) {
  .info-color {
    width: 40%;
  }
  h3 {
    font-size: 15px;
  }
}
