.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(140, 179, 215, 1) 100%,
    rgba(80, 85, 238, 0.9962359943977591) 100%
  );
}
.container-colors {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.container-button {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
}
.container-title {
  width: 80%;
  background-color: rgba(246, 248, 252, 0.3);
  border-radius: 20px;
}

h1 {
  color: #0062cc;
  text-align: center;
}
@media (max-width: 600px) {
  .container-button {
    width: 65%;
  }
}
